#content>.note {
    position: absolute;;
    color: #333;
    width: 230px;
    margin: 10px;
    opacity: 1;
    transition: all 1s;
}
#content>.note>.note-head{
    border-top-right-radius: 15px 100px;
    height: 25px;
    background-color: #ea9b35;
}
#content>.note .icon-clip {
    position: relative;
    top: -9px;
    margin-right: 15px;
    font-size: 30px;
    font-weight: bold;
}
#content>.note .delete {
    float: right;
    margin-right: 5px;
    font-size: 20px;
    background-color: rgba(0,0,0,0);
    line-height: 25px;
    cursor: pointer;
}
#content>.note>.note-body{
    box-sizing: border-box;
    padding: 10px;
    border-bottom-left-radius: 50px 500px;
    border-bottom-right-radius: 500px 50px;
    min-height: 80px;
    background-color: #efb04e;
    outline: none;
    cursor: pointer;
}
#content>.note>.note-body:before, #content>.note>.note-head:before {
    transform: skew(-15deg) rotate(-5deg);
    left: 15px;
}
#content>.note>.note-body:after, #content>.note>.note-head:after {
    transform: skew(15deg) rotate(5deg);
    right: 15px;
}
#content>.note>.note-body:before, #content>.note>.note-body:after {
    position: absolute;
    bottom: 15px;
    width: 90%;
    height: 20%;
    content: ' ';
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
    z-index: -1;
}